<script src="https://giscus.app/client.js"
        data-repo="stormchaserroleplaying/stormchaserroleplaying.github.io"
        data-repo-id="R_kgDOHtl54Q"
        data-category="Giscus"
        data-category-id="DIC_kwDOHtl54c4CkPrZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>